<div class="container">
    <div class="row">
        <div class="col-12">
<br>
<h1>Editando Oferta: <%= @ofertum.cargo.upcase %></h1>

<%= render "form", ofertum: @ofertum %>
<br>
<%= link_to "Show", @ofertum, class: "btn btn-outline-dark" %> 
<%= link_to "Back", oferta_path, class: "btn btn-outline-dark" %>
        </div>
    </div>
</div>
