
$primary: rebeccapurple;
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua;
$dark: indigo;

$body-bg: #f3f3f0;

@import "~bootstrap/scss/bootstrap.scss";

.ofer { text-align: center;
        }

h1 { font-style: oblique; color: indigo;
    }

h2 { font-style: oblique; color: indigo;
    }

#reservado { text-align: center; color: rebeccapurple
            }